#container {
    width: 700px;
    height: 541px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    position: absolute;
}

#background {
    top: 0;
    left: 0;
    z-index: 0;
}

#tree {
    top: 113px;
    width: 700px;
    z-index: 2;
    pointer-events: none;
}

/* Exercise One: Apply a transition to the transform property so the scaling happens smoothly over time */

.bauble {
    z-index: 3;
    transition: transform 1s ease;
}

/* Exercise One: scale the baubles when hovered over */

.bauble:hover {
    transform: scale(1.3);
}

#red {
    left: 42px;
    top: 341px;
}

#blue {
    left: 113px;
    top: 226px;
}

#green {
    left: 425px;
    top: 211px;
}

#orange {
    left: 604px;
    top: 281px;
}

#darkblue {
    left: 300px;
    top: 276px;
}

#pink {
    z-index: 1;
    left: 400px;
    top: 330px;
}

/* Exercise Two: Our bauble dropping animation. Note the blank "from" section. This means the baubles will start at their current locations. */

@keyframes baubledrop {
    from {}
    20% {
        top: 479px;
    }
    40% {
        top: 429px;
    }
    60% {
        top: 479px;
    }
    80% {
        top: 459px;
    }
    to {
        top: 479px;
    }
}

/* Exercise Two: When we hover over the container, we will animate all baubles within that container. */

#container:hover .bauble {
    animation-name: baubledrop;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

/* Exercise 2.5: When we are NOT hovering over the container, we will set the position of all baubles to 479px so they lie on the ground. */

#container:not(:hover) .bauble {
    top: 479px;
}